/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

body {

    font-family: Copperplate Gothic Light, sans-;
    font-size: 16px;
}

a {
    text-decoration: none;
}
.site_title {
    background-color:  black;
    color: white;
    text-align: center;
    font-variant: small-caps;
    font-weight: bold; 
    font-size: 4em;
    padding: 3%;
    margin: 0;
}



h2 {
    font-size: 1.8em;
    color: black;
    text-align: center;
    padding: 9% 0 6% 0;
    margin: 0;
}

.rule {
    border-bottom: solid 2px #000;
    margin: 0;
}

p {
    color: ccc;
    font-family: arial;
    font-size: 1em;
    text-align: center;
    padding-bottom: 2%;
}

.body_text p {
    text-align: left;
    font-size: 1.25em;
}

.copyright h3 {
    background-color: black;
    color: white;
    font-family: helvetica;
    font-size: 1em;
    text-align: center;
    padding: 1%;
    margin: 0;
}



@media only screen and (min-width: 35em) {
}

